# logic

In [1]:
a=5
output=1
for i in range(1,a+1):
    output=output*i
print(output)

120

In [6]:
#Print characters from a string that are present at an even index number
strng=input("enter the string:")
for i in range(len(strng)):
    if(i%2==0):
        print(strng[i])

enter the string:gargrsg
g
r
r
g

In [3]:
l1=[12,34,45,56,12]
if(l1[0]==l1[-1]):
    print("true")
else:
    print("false")

true

In [4]:
# Return the count of a given substring from a string

In [5]:
# print the patterns
for i in range(5):
    for j in range(i):
        print(i,end="")
    print("\n")

1

22

333

4444

In [6]:
# palindrome
def palindrome(n):
    n1=n
    rev=0
    while(n>0):
        rem=n%10
        rev=(rev*10)+rem
        n=n//10
    if(rev==n1):
        print("palindrome")
    else:
        print("Not palindrome")

n=int(input("enter the number"))
palindrome(n)

enter the number242
palindrome

In [5]:
242

242

In [ ]:
432%10

In [14]:
def palindrome(n):
    n1=n
    rem=0
    rev=0
    while n>0:
        rem=n%10
        #rev=(rev*10)+rem
        print(rem,end="")
        n=n//10
    print(rev)
    if(rev==n1):
        print("palindrome")
    else:
        print("not palindrome")
n=int(input("enter the number"))
palindrome(n)

enter the number213
3120
not palindrome

In [9]:
# prime

def prime(n):
    for i in range(2,n-1):
        if(n%i==0):
            print("not prime")
            break
    else:
        print("prime")
prime(9)

not prime

# list

In [6]:
a=[1,2,3,4]
b=[str(i)for i in a]
res=int("".join(b))
res

1234

In [8]:
a=[1,2,3,4]
for i in a:
    print(i,end=" ")

1 2 3 4

In [13]:
a=[1,2,3,4]
res=int("".join(map(str,a)))
res

1234

In [14]:
a1="".join(map(str,a))
a1

'1234'

In [2]:
a=input("enter the number")
b=list(map(int,a.split(" ")))   # used for string split() function

enter the number23 34 56

In [3]:
print(b)

[23, 34, 56]

In [4]:
list(map(int,a.split(" ")))

[23, 34, 56]

In [4]:
a=[1,2,3]
b=[2,3,4]
c=[3,7,8]

In [6]:
for i in a,b,c:
    for j in i:
        print(j)

1
2
3
2
3
4
3
7
8

In [5]:
for i in (a,b,c):
    print(i)
    for j in i:
        print(j)

[1, 2, 3]
1
2
3
[2, 3, 4]
2
3
4
[3, 7, 8]
3
7
8

In [12]:
for i in range(1,5):
    print(i)

1
2
3
4

In [29]:
for i in (2,5,4):
    print(i)

2
5
4

In [14]:
for i in([23,45,67]):
    print(i)

23
45
67

In [11]:
l1=[12,33,56]
l2=[67,32,12]
def add(l1,l2):
    l3=[]
    for i in l1:
        if(i%2==0):
            l3.append(i)
    for j in l2:
        if(j%2!=0):
            l3.append(j)
    return l3
print(add(l1,l2))

[12, 56, 67]

In [15]:
#Given two list of numbers, write a program to create a new list such that the new list should  
#contain odd numbers from the first list and even numbers from the second list.

def last_first(l1,l2):
    l3=[]
    for i in l1:
        if(i%2!=0):
            l3.append(i)
    for j in l2:
        if(j%2==0):
            l3.append(j)
    return l3
l1=[23,45,12,34]
l2=[23,12,98,56,45]
last_first(l1,l2)

[23, 45, 12, 98, 56]

In [1]:
# Write a Program to extract each digit from an integer in the reverse order.

def reverse(n):
    rev=0
    while n>0:
        rem=n%10
        rev=(rev*10)+rem
        n=n//10
    print(rev)
n=int(input("enter the number"))
reverse(n)

enter the number253
352

In [31]:
a=[1,2,3]

In [35]:
b=[]
for i in a:
    b.append(i*2)
b

[2, 4, 6]

In [17]:
l1=list((2,3,4))
l2=[]
for i in range(0,len(l1)):
    l2.append(l1[i]*l1[i])
print(l2)

[4, 9, 16]

In [18]:
l1=[1,2,3]
l2=[]
for i in l1:
    l2.append(i*i)
print(l2)

[1, 4, 9]

In [21]:
l1=[1,2,3]
l2=[1,2,4]
l3=[]
for i,j in zip(l1,l2):
    l3.append(i*j)
print(l3)

[1, 4, 12]

In [14]:
def matrix_multiplication(l1,l2):
    a=0
    for i in l2:
        for j in l1:
            a=a+(i*j)
    return a
l1=[1,2,3]
l2=[2,2,2]
matrix_multiplication(l1,l2)

36

In [19]:
a=[1,2,3]
b=a

In [20]:
b[1]=3

In [21]:
a

[1, 3, 3]

In [22]:
a[::-1]

[3, 3, 1]

In [23]:
a=["nivesh","nikhesh","nidhisha"]
b=["Jain","Kumar","jain"]
x=zip(a,b)

In [24]:
print(list(x))

[('nivesh', 'Jain'), ('nikhesh', 'Kumar'), ('nidhisha', 'jain')]

In [25]:
# zip() function -which is an iterator of tuples where the first item in each passed iterator is paired together, 
# and then the second item in each passed iterator are paired together etc.

In [26]:
l1=[i+j for i,j in zip(a,b)]
print(l1)

['niveshJain', 'nikheshKumar', 'nidhishajain']

In [27]:
# square the list
l1=[1,2,3,4,5,6,7,8]
square=[i*i for i in l1 if i%2==0]
print(square)

[4, 16, 36, 64]

In [28]:
a=["gt","fved"]
b=["fg","rgr"]
for i in a:
    for j in b:
        print(i+j)

gtfg
gtrgr
fvedfg
fvedrgr

In [29]:
#Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i,j in (zip(list1,list2)):
    print(i,j)

10 100
20 200
30 300
40 400

In [30]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i,j in (zip(list1,list2[::-1])):
    print(i,j)

10 400
20 300
30 200
40 100

In [31]:
#Remove empty strings from the list of strings
l1=["ddgd","","vsz","fgdf",""]
#l1.remove("")

In [32]:
# filter function - it is a iterate function. it check the function if it is true then it returns or else not.

In [33]:
l2=list(filter(None,l1))
print(l2)

['ddgd', 'vsz', 'fgdf']

In [34]:
def agefn(age):
    if(age>18 and age<60):
        return True
    else:
        return False

In [35]:
age=[12,34,16,78,12,56]
age2=list(filter(agefn,age))
print(age2)

[34, 56]

In [36]:
list1=[10,20,[40,60,[100,400,600],70,80],30]

In [37]:
list1[2][2].append(700)

In [38]:
list1

[10, 20, [40, 60, [100, 400, 600, 700], 70, 80], 30]

In [19]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

In [20]:
#list1[2][1][2].append(sub_list)
list1[2][1][2].extend(sub_list)

In [21]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [45]:
l1=[12,20,34,20,20]
for i in range(0,len(l1)):
    if(l1[i]==20):
        l1[i]=200
l1

[12, 200, 34, 200, 200]

In [42]:
#Replace listâ€™s item with new value if found

In [43]:
l1=[13,20,45,34,20,56]
l2=[]
for i in range(len(l1)):
    if(l1[i]==20):
        l2.append(200)
    else:
        l2.append(l1[i])
print(l2)

[13, 200, 45, 34, 200, 56]

In [44]:
l1=[13,20,45,34,20,56]
index=l1.index(20)
l1[index]=200
print(l1)

[13, 200, 45, 34, 20, 56]

In [45]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if(i==20):
        list1.remove(20)

In [46]:
list1

[5, 15, 25, 50]

In [47]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)

In [48]:
# largest number in a given list
def large(l1):
    large=0
    for i in l1:
        if(i>large):
            large=i
    return large
l1=[23,45,12,32,65,22]
large(l1)

65

In [49]:
def large(l1):
    large=0
    i=0
    while i < len(l1):
        if(l1[i]>large):
            large=l1[i]
        i+=1
    return large
l1=[23,45,12,32,65,22]
large(l1)

65

In [50]:
def rotate(l1):
    b=l1[0]
    for i in range(len(l1)-1):
        l1[i]=l1[i+1]
    l1[-1]=b
    return l1
l1=[12,32,12,34,45,89]
rotate(l1)

[32, 12, 34, 45, 89, 12]

In [30]:
l1=[12,34,45,67,12]
b=l1[0]
for i in range(len(l1)-1):
    l1[i]=l1[i+1]
l1[-1]=b
l1

[34, 45, 67, 12, 12]

In [51]:
l1=[12,45,43]

In [52]:
sampleList = [10, 20, 30, 40, 50]
print(sampleList[-2])
print(sampleList[-4:-1])

40
[20, 30, 40]

In [53]:
l = [None] * 10
print(len(l))

10

In [54]:
aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 28]
print(aList)

[4, 20, 24, 28]

In [55]:
sampleList = [10, 20, 30, 40]
del sampleList[0:6]
print(sampleList)

[]

In [56]:
sampleList = [10, 20, 30, 40]
sampleList[0:6]

[10, 20, 30, 40]

In [27]:
list1 = ['xyz', 'zara', 'PYnative']
print (max(list1))

zara

In [59]:
max("xyz")

'z'

In [60]:
max("zara")

'z'

In [1]:
# most frequent value in list
def repeated(l1):
    counter=0
    n=[]
    for i in l1:
        current=l1.count(i)
        if(current>counter):
            counter=current
            n=i
    return n
l1=[1,2,2,3,3,2,3,2,1,4]   
repeated(l1)

2

In [68]:
def most_frequent(l1):
    n=0
    large=0
    val=[]
    for i in l1:
        n=l1.count(i)
        if(n>large):
            large=n
            val=i
    return val
l1=[12,56,56,78,71,56,78,78,78]
most_frequent(l1)

78

In [66]:
l1=[12,56,56,78,71,56]
l1.count(l1[2])

3

In [41]:
# count the repeated value
def counts(l1):
    unique=[]
    for i in l1:
        if i not in unique:
            unique.append(i)
    print(unique) 
    
    l2=[]
    counter=0
    mode=0
    for i in unique:    #[34, 54, 12]
        counts=0
        for j in l1:    #[34,54,34,12,34,12]
            if(i==j):
                counts+=1
        #l2.append(counts)
        if(counts>counter):
            counter=counts
            mode=i            
    return mode  

l1=[34,54,34,12,34,12]
counts(l1)

[34, 54, 12]

34

In [42]:
# using the set method
number_list = [1, 2, 2, 3, 4, 4, 5, 5, 6, 7, 8, 8, 8]
uniq_values = []
mode_values = []
for i in number_list:
    if i not in uniq_values:
        uniq_values.append(i)
    else:
        mode_values.append(i)
print(set(mode_values))

{8, 2, 4, 5}

In [2]:
# average of the list
def avg(l1):
    add=0
    avg=0
    for i in l1:
        add+=i
        avg=add/len(l1)
    return avg
l1=[1,2,2,3,2,2]
avg(l1)

2.0

In [3]:
sum(l1)/len(l1)

2.0

In [4]:
# sort the list without using built in function
def sort(l1):
    for i in range (0,len(l1)):
        for j in range(i+1,len(l1)):
            if(l1[i]>=l1[j]):
                l1[i],l1[j]=l1[j],l1[i]
    return l1
l1=[23,12,4,14,56]
sort(l1)

[4, 12, 14, 23, 56]

In [10]:
# sort the list using other method
def sort(l1):
    l2=[]
    for i in range(0,len(l1)):
        small=l1[0]
        for j in l1:
            if(small>j):
                small=j
        l2.append(small)
        l1.remove(small)
    return l2
l1=[31,12,34,11,31,67]
sort(l1)

[11, 12, 31, 31, 34, 67]

In [6]:
# large value in the list
def large(l1):
    large=0
    for i in l1:
        if(large<i):
            large=i
    return large
l1=[34,12,56,12]
large(l1)

56

In [7]:
# small value in the list
def small(l1):
    small=l1[0]
    for i in l1:
        if(small>i):
            small=i
    return small
l1=[11,23,12,54,2,3]
small(l1)

2

In [ ]:
# median of the list
def median(l1):
    m=[]
    for i in l1:
        if(len(l1)%2==0):

In [56]:
# reverse
l1=[12,23,42,11,34]
l1[::-1]

[34, 11, 42, 23, 12]

In [65]:
# reverse
l1=[12,23,42,11,34]
l2=[]
for i in range(1,len(l1)+1):
    l2.append(l1[-i])
l2

[34, 11, 42, 23, 12]

In [ ]:
0,1,1,2,3,5,8

In [17]:
#fibonocci
def fibonocci(n):                                
    num1=0
    num2=1
    print(num1,num2,end=" ")
    next_no=num2
    print(next_no,end=" ")
    count=1
    while count<n-2:
        num1,num2=num2,next_no
        next_no=num1+num2
        count+=1
        print(next_no,end=" ")
        
fibonocci(7)

0 1 1 2 3 5 8

In [8]:
l1=[]
l1.append(0)
l1.append(1)
b=0
for i in range(0,7):
    if(i<2):
        l1.append(i+1)
    else:
        b=l1[i]+l1[i+1]
        l1.append(b)
l1

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [ ]:
n= int(input("enter the number of student details"))
l1=[]
l2=[]
for i in range(0,n):
    name=input("enter the name")
    score=int(input("enter the score"))
    l1.append(name)
    l2.append(score)
result=[[i,j] for i,j in zip(l1,l2)]

In [182]:
def counts(l1):
    global unique
    unique=[]
    for x in l1:
        if x not in unique: 
            unique.append(x)
    global count
    count=[]
    for i in unique:
        counter=0
        for j in l1:
            if(i==j):
                counter=counter+1
        count.append(counter)
    return count,unique

In [34]:
# monotone or not
def monotone(l1):
    sum1=0
    for i in range(len(l1)-1):
        sum1+=l1[i]<=l1[i+1]
    sum2=0
    for i in range(len(l1)-1):
        sum2+=l1[i]>=l1[i+1]
    return sum1==len(l1)-1 or sum2==len(l1)-1
l1=[5,10,15,20]
monotone(l1)

True

In [35]:
# how it works
sum1=0
l1=[5,2,20,22,22,22]
for i in range(len(l1)-1):
    if(l1[i]<=l1[i+1]):
        sum1=sum1+1
if(sum1==len(l1)-1):
    print("monoton")
else:
    print("not")

not

In [38]:
# by all method
def monotone(l1):
    return all(l1[i]<=l1[i+1] for i in range(len(l1)-1)) or all(l1[i]>=l1[i+1] for i in range(len(l1)-1))
l1=[12,23,34,45]
print(monotone(l1))

l2=[23,22,21,20,10]
print(monotone(l2))

True
True

In [39]:
# swap the two value 
def swap_two(l1,a,b):
    l1[a-1],l1[b-1]=l1[b-1],l1[a-1]
    return l1
l1=[23,45,34,23,1,2,13,76,34,89]
swap_two(l1,6,8)

[23, 45, 34, 23, 1, 76, 13, 2, 34, 89]

In [50]:
# other method
def swap_two(l1,a,b):
    first=l1.pop(a-1)
    print(first)
    second=l1.pop(b-2)
    print(second)
    l1.insert(a-1,second)
    l1.insert(b-1,first)
    return l1
l1=[23,34,45,96,56,67]
swap_two(l1,2,5)

34
56

[23, 56, 45, 96, 34, 67]

In [2]:
l1=[1,2,3,4]
l2=[]
for i in l1:
    l2.insert(0,i)
l2

[4, 3, 2, 1]

In [19]:
l1=[1,2,3,4,5]
l2=[]
for i in range(1,len(l1)+1):
    l2.append(l1[-i])
print(l2)

[5, 4, 3, 2, 1]

In [22]:
[l1[-i] for i in range(1,len(l1)+1)]

[5, 4, 3, 2, 1]

In [15]:
# prdouct of the list
def product(l1):
    a=0
    for i in range(0,1):
        for j in range(i+1,len(l1)):
            a=l1[i]*l1[j]
            l1[i]=a
    return a
l1=[2,2,3,4,5]
product(l1)

240

240

In [33]:
def sums(l1):
    a=0
    for i in range(0,1):
        for j in range(i+1,len(l1)):
            a=l1[i]+l1[j]
            l1[i]=a
    return a
l1=[1,2,3,4,5]
sums(l1)

15

In [40]:
# other method
def sums(l1):
    i=0
    while i<1:
        j=1
        a=0
        while j<=len(l1)-1:
            a=l1[i]+l1[j]
            l1[i]=a
            j+=1
        i+=1
    return a
l1=[1,2,3,4]
sums(l1)

10

In [147]:
# def product(l1):
#     return reduce(lambda a,b:a*b,l1)
# l1=[1,2,3]
# product(l1)

In [54]:
a=[10,20,4,11,24]
a.sort()
a[0]

4

In [79]:
#second largest number
def second_large(l1):
    large=0
    if(len(l1)==1):
        large=l1[0]
    elif(len(l1)==2):
        large=max(l1)
    else:
        l2=[]
        for i in range(len(l1)):
            lar=0
            for j in l1:
                if(lar<j):
                    lar=j
            l2.append(lar)
            l1.remove(lar)
        large=l2[1]
        print(l2[1])
    return l2
l1=[21,11,54,23,18]
second_large(l1)

23

[54, 23, 21, 18, 11]

In [85]:
#second largest number
l1=[12,33,54,11,3,28,66]
a=[i for i in l1 if(i<max(l1))]
print(a)
max(a)

[12, 33, 54, 11, 3, 28]

54

In [91]:
# find the n largest number
def large_n(l1,n):
    l2=[]
    l3=[]
    for i in range(len(l1)):
        lar=0
        for j in l1:
            if(lar<j):
                lar=j
        l2.append(lar)
        l1.remove(lar)
    l3=l2[-n:]
    return l3
l1=[34,12,34,87,56,23]
large_n(l1,4)

[34, 34, 23, 12]

In [92]:
value=input("enter the first and last number with space")
start,end=map(int,value.split(" "))
print(start,end)
for i in range(start,end):
    print(i,end=" ") if(i%2!=0) else None

enter the first and last number with space12 20
12 20
13 15 17 19

In [96]:
# positive number
def positive(l1):
    for i in l1:
        print(i,end=" ") if(i>0) else None
l1=[1.2,8,6,-8.23,-8,-34]
positive(l1)

1.2 8 6

In [101]:
# using filter method
l1=[12,2,3,-9,-45,-7-66]
a=list(filter(lambda i:(i>0),l1))
a

[12, 2, 3]

In [106]:
import numpy as np
l1=np.array([1,-8,9,7,6,-8,-9])
l1[l1>0]

array([1, 9, 7, 6])

In [112]:
l1=[12,2,3,-9,-45,-7-66]
a=list(map(str,l1))
for i in a: print(i,end=" ") if(not i.startswith("-")) else None

12 2 3

In [116]:
l1=[12,4,5,-45,-65,12]
a=list(filter(lambda x:x>0,l1))
a

[12, 4, 5, 12]

In [132]:
#remove the desired element
l1=[12,3,4,5,67,8]
unwanted=[4,67,8]
for i in unwanted:
    l1.remove(i)
l1

[12, 3, 5]

In [141]:
def count_no(l1,n):
    x=0
    for i in l1:
        if(i==n):
            x+=1
    return x
l1=[1,2,3,6,4,3,2,1,2]
count_no(l1,3)

2

In [ ]:
l1=[56,34,23,87]

In [ ]:
n=int(input("enter the student: "))
name=[]
score=[]
for i in range(n):
    name1=input("enter the name: ")
    score1=int(input("enter the score: "))
    name.append(name1)
    score.append(score1)
least=[]
print(score)
print(name)
for i in range(len(score)):
    small=score[0]
    for j in score:
        if(small>j):
            small=j
    least.append(small)
    score.remove(small)

In [5]:
# import numpy as np
# n=int(input("enter the student: "))
# name=[]
# score=[]
# for i in range(n):
#     name1=input("enter the name: ")
#     score1=int(input("enter the score: "))
#     name.append(name1)
#     score.append(score1)
# index=np.argsort(score)
# print(index)
# for i in index:
#     print(name[i])

In [ ]:
5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39

In [21]:
# sort the score and return the second lowest value.
# if the two student took same second lowest value then sort by thier name.

a=[['sgv', 45.0], ['abdt', 56.0], ['bsdg', 56.0]]
second_lowest=sorted(set([score for name,score in a]))[1]
print("\n".join(sorted([name for name,score in a if(score==second_lowest)])))

abdt
bsdg

In [3]:
alist = []
for i in range(int(input("enter the number of person"))):
    name = input()
    score = float(input())
    alist.append([name, score])
second_highest = sorted(set([score for name, score in alist]))[1]
print('\n'.join(sorted([name for name, score in alist if score == second_highest])))

enter the number of person5
harry
37
gs
67
berry
37
gdg
12
tina
37
berry
harry
tina

In [ ]:
# other method
l1=[]
for i in range (int(input())):
    name=input()
    score=float(input())
    l1+=[[name,score]]
    
s1=[]
for name,score in l1:
    s1.append(score)
second_score=sorted(set(s1))[1]

name_second_lowest=sorted([name for name,score in l1 if(score==second_score)])
print("\n".join(name_second_lowest))

In [30]:
a=[23,45]
b=[45,67]
[a]+[b]

[[23, 45], [45, 67]]

In [ ]:
l1=[2,3,4,4,4,5,1,2,11,4,4]

In [1]:
def most_frequent(l1):
    unique=[]
    for x in l1:
        if x not in unique:
            unique.append(x)
    print(unique)
    count=[]
    for i in unique:
        counter=0
        for j in l1:
            if(i==j):
                counter=counter+1
        count.append(counter)
    print(count)
    most_value=count.index(max(count))
    return unique[most_value]
    
l1=[2,3,4,4,4,5,1,2,11,4,42,2,2,4]
most_frequent(l1)

[2, 3, 4, 5, 1, 11, 42]
[4, 1, 5, 1, 1, 1, 1]

4

In [24]:
def minion_game(string):
    s=len(string)
    vowel = 0
    consonant = 0
     
    for i in range(s):
        if string[i] in 'AEIOU':    #0
            vowel+=(s-i)      #5 3
        else:
            consonant+=(s-i)     #6 4 2
                
    if vowel < consonant:
        print('Stuart ' + str(consonant))
    elif vowel > consonant:
        print('Kevin ' + str(vowel))
    else:
        print('Draw')
minion_game("ANANAS")

Kevin 12

In [26]:
def minion_game(string):
    l1=[]
    l2=[]
    vow=[]
    con=[]
    for i in string:
        l1.append(i)
    for k in range(2,len(string)):
        for j in range(len(string)-1):
            l1.append(string[j:j+k])
    l1.append(l1[0])
    for m in range(len(l1)-1):
        if len(l1[m])<=len(l1[m+1]):
            l2.append(l1[m+1])
    l2.append(l1[0])
    l2.append(string)
    for i in l2:
        if(i[0] in "AEIOU"):
            vow.append(i)
        else:
            con.append(i)
    if(len(vow)<len(con)):
        print("Starut",len(con))
    elif(len(vow)>len(con)):
        print("Kevin",len(vow))
    else:
        print("Draw")
minion_game("ANANAS")

Kevin 12

In [4]:
def second_large(l1):
    l1.sort()
    print(l1)
    second_value=l1[-2]
    return second_value
l1=[34,23,12,43]
second_large(l1)

[12, 23, 34, 43]

34

In [2]:
# count the unique value in the given list
def unique_value(l1):
    unique=[]
    for i in l1:
        if i not in unique:
            unique.append(i)
    return len(unique)
unique_value([1,4,2,3,4,1,2,1,4])

4

In [3]:
def unique_value(l1):
    return len(list(set(l1)))
unique_value([1,4,2,3,4,1,2,1,4])

4

In [10]:
from collections import Counter
value=[1,4,2,3,4,1,2,1,4]
a=Counter(value).keys()
len(a)

4

In [2]:
def unique_value(l1):
    d1={}
    for i in l1:
        d1[i]=l1.count(i)
    return len(d1)
unique_value([1,4,2,3,4,1,2,1,4])

4

In [14]:
def unique_value(l1):
    a=[x for i,x in enumerate(l1) if x not in l1[:i]]
    return len(a)
unique_value([1,4,2,3,4,1,2,1,4])

4

In [18]:
# list the product excluding the duplicates
def list_prod(l1):
    l2=[]
    for i in l1:
        if i not in l2:
            l2.append(i)
    a=0
    for i in range(0,1):
        for j in range(i+1,len(l2)):
            a=l2[i]*l2[j]
            l2[i]=a
    return a
list_prod([1,4,2,3,4,1,2,1,4])

24

In [26]:
def list_prod(l1):
    l2=[x for i,x in enumerate(l1) if x not in l1[:i]]
    for i in range(0,1):
        for j in range(i+1,len(l2)):
            a=l2[i]*l2[j]
            l2[i]=a
    return a
list_prod([1,4,2,3,4,1,2,1,4])

24

In [32]:
def list_prod(l1):
    d1={}
    for i in l1:
        d1[i]=l1.count(i)
    a=1
    for key,val in d1.items():
        a*=key
    return a
list_prod([1,4,2,3,4,1,2,1,4])

24

In [33]:
l1=[1,4,2,3,4,1,2,1,4]
a=list(set(l1))
product(a)

24

In [36]:
from collections import Counter
l1=[1,4,2,3,4,1,2,1,4]
a=Counter(l1).keys()
b=1
for i in a:
    b*=i
print(b)

24

In [37]:
def prod(l1):
    a=1
    for i in l1:
        a*=i
    return a
l1=[1,4,2,3,4,1,2,1,4]
uni=[]
for i in l1:
    if i not in uni:
        uni.append(i)
prod(uni)

24

In [42]:
from functools import reduce
l1=[1,4,2,3,4,1,2,1,4]
reduce(lambda x,y:x*y,set(l1),1)

24

In [43]:
import numpy as np
l1=[1,4,2,3,4,1,2,1,4]
unique=np.unique(l1)
a=np.prod(unique)
print(a)

24

In [49]:
#Extract elements with Frequency greater than K
def greater_frequency(l1,k):
    d1={}
    for i in l1:
        d1[i]=l1.count(i)
    for i,j in d1.items():
        if(j>k):
            print(i,end=" ")
greater_frequency([4, 6, 4, 3, 3, 4, 3, 4, 3, 8],3)

4 3

In [55]:
def greater_frequency(l1,k):
    unique=[]
    for i in l1:
        if i not in unique:
            unique.append(i)
    l2=[]
    for j in unique:
        l2.append(l1.count(j))
        
    freq=[unique[i] for i in range(len(l2)) if l2[i]>k]
    return freq
greater_frequency([4, 6, 4, 3, 3, 4, 3, 4, 3, 8],3)

[4, 3]

In [60]:
from collections import Counter
a=input("enter the number")
b=int(input("enter the k vallue"))
l1=list(map(int,a.split(" ")))
l2=[key for key,val in Counter(l1).items() if(val>b)]
print(l2)

enter the number4 6 4 3 3 4 3 4 3 8
enter the k vallue3
[4, 3]

In [66]:
import numpy as np
l1=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k=3
unique,count=np.unique(l1,return_counts=True)
res=unique[count>k].tolist()
res

[3, 4]

In [67]:
l1=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]

Counter({4: 4, 6: 1, 3: 4, 8: 1})

In [69]:
from collections import Counter
 
test_list = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
K = 2
freq_dict = Counter(test_list)
print(freq_dict)
res = list(filter(lambda ele: freq_dict[ele] > K, freq_dict))

print("The required elements : " + str(res))

Counter({4: 3, 3: 3, 8: 2, 6: 1, 7: 1})
The required elements : [4, 3]

In [72]:
#Test if List contains elements in Range
def list_of_range(l1,b,e):
    count=0
    for i in l1:
        if(i>b and i<e):
            count+=1
    if(len(l1)==count):
        return True
    else:
        return False
list_of_range([2,4,5,3,7,8],1,10)

True

In [80]:
def list_of_range(l1,b,e):
    return all((i>b and i<e) for i in l1)
list_of_range([2,4,5,3,7,8],1,10)

True

In [87]:
l1=[2,4,5,3,7,8]
e=10
b=1
count=0
a=[i for i in l1 if(i>b and i<e)]
if(len(a)==len(l1)):
    print(True)
else:
    print(False)

True

In [94]:
l1=[2,14,5,3,7,8]
b=1
e=10
def condition(x,b,e):
    return b>x<e
res=filter(condition,l1)
bool(res)

True

In [2]:
import numpy as np
#flatten the given list
m1=[[1,2,3,4],[3,4,5,6],[4,5,6,7],[2,3,4,1]]
print(m1)
#flatten the list
m2=np.array(m1)
print("flatten the array \n",m2.reshape((m2.size)))

[[1, 2, 3, 4], [3, 4, 5, 6], [4, 5, 6, 7], [2, 3, 4, 1]]
flatten the array
 [1 2 3 4 3 4 5 6 4 5 6 7 2 3 4 1]

# dictionaries

In [124]:
d1={"name":"Nidhisha","age":23,"cast":"jain","cast":"V"}

In [125]:
d1

{'name': 'Nidhisha', 'age': 23, 'cast': 'V'}

In [126]:
d2=dict({"name":"Nidhisha","age":23,"cast":"jain"})

In [127]:
d2

{'name': 'Nidhisha', 'age': 23, 'cast': 'jain'}

In [129]:
d3=dict({("name","nidhi"),("class","Msc"),("age",23)})

In [130]:
d3

{'class': 'Msc', 'name': 'nidhi', 'age': 23}

In [1]:
d4=dict([("name","nidhi"),("class","msc"),("age",23)])

In [2]:
d4

{'name': 'nidhi', 'class': 'msc', 'age': 23}

In [131]:
person = {"name": "Jessa", "telephones": [1178, 2563, 4569]}
print(person)

{'name': 'Jessa', 'telephones': [1178, 2563, 4569]}

In [4]:
person1=dict({"name":"shraj","age":22,"dob":"05/11/2000","class":"msc"})

In [7]:
# accesing the values using [] method and get method
person1["name"]

'shraj'

In [8]:
person1.get("age")

22

In [14]:
for key in person1.keys():
    print(key,":",person1[key])

name : shraj
age : 22
dob : 05/11/2000
class : msc

In [15]:
person1.update({"caste":"jain","sub_caste":"3B"})

In [16]:
person1

{'name': 'shraj',
 'age': 22,
 'dob': '05/11/2000',
 'class': 'msc',
 'caste': 'jain',
 'sub_caste': '3B'}

In [18]:
person2=dict([("name","abc"),("class","xyz")])

In [19]:
person2.setdefault("country","london")

'london'

In [20]:
person2

{'name': 'abc', 'class': 'xyz', 'country': 'london'}

In [22]:
person2["country"]="mysoru"

In [23]:
person2

{'name': 'abc', 'class': 'xyz', 'country': 'mysoru'}

In [72]:
for i,j in person1.items():
    print(i,":",j)

name : shraj
age : 22
dob : 05/11/2000
class : msc

In [74]:
person1["dept"]="stat"
person1

{'name': 'shraj',
 'age': 22,
 'dob': '05/11/2000',
 'class': 'msc',
 'dept': 'stat'}

In [28]:
person1.pop("name")

'shraj'

In [29]:
person1

{'age': 22,
 'dob': '05/11/2000',
 'class': 'msc',
 'caste': 'jain',
 'sub_caste': '3B'}

In [30]:
person1.popitem()

('sub_caste', '3B')

In [31]:
person1

{'age': 22, 'dob': '05/11/2000', 'class': 'msc', 'caste': 'jain'}

In [34]:
person1.update({"name":"shraj"})

In [35]:
person2.clear()

In [36]:
person2

{}

In [37]:
p3={"name":"niks","dept":"it","age":26}

In [39]:
check_age="age"
if check_age in p3.keys():
    print(p3[check_age])
else:
    print("keys is not found")

26

In [ ]:
d1={"name":"nidhi","age":23,"class":"msc","caste":"jain"}
s=["name","caste"]
for i in d1:

In [134]:
d2["name"]

'Nidhisha'

In [135]:
d2.get("name")

'Nidhisha'

In [137]:
for i in d2:
    print(i,":",d2[i])

name : Nidhisha
age : 23
cast : jain

In [140]:
d2["class"]="msc"
d2.update({"sub_caste":"3b"})

In [141]:
d2

{'name': 'Nidhisha',
 'age': 23,
 'cast': 'jain',
 'class': 'msc',
 'sub_caste': '3b'}

In [142]:
# add multiple data at once
d2.update({"wieght":53,"height":166})

In [143]:
d2

{'name': 'Nidhisha',
 'age': 23,
 'cast': 'jain',
 'class': 'msc',
 'sub_caste': '3b',
 'wieght': 53,
 'height': 166}

In [153]:
d2.setdefault("area","dml")

'dml'

In [156]:
d2.pop("sub_caste")

'3b'

In [157]:
d2

{'name': 'Nidhisha',
 'age': 23,
 'cast': 'jain',
 'class': 'msc',
 'wieght': 53,
 'height': 166,
 'area': 'dml'}

In [80]:
#Join two dictionary
d1={"name":"nidhi","class":"Msc","age":23}
d2={"name":"shraj","class":"Msc","age":22}

In [159]:
d1.update(d2)

In [160]:
d1

{'name': 'shraj', 'class': 'Msc', 'age': 22}

In [162]:
# **kwargs
d1={"sr":12,"gs":34,"fe":21}
d2={"jk":65,"gs":12,"ae":44}
d3={"gkm":66,"dg":87,"sdca":11}
d4={**d1,**d2,**d3}

In [163]:
d4

{'sr': 12,
 'gs': 12,
 'fe': 21,
 'jk': 65,
 'ae': 44,
 'gkm': 66,
 'dg': 87,
 'sdca': 11}

In [83]:
# creating the nested dictionaries
address={"nation":"India","state":"karnataka"}
person={"name":"Nidhisha","age":23,"address":address}

In [84]:
person["address"]["state"]

'karnataka'

In [85]:
person

{'name': 'Nidhisha',
 'age': 23,
 'address': {'nation': 'India', 'state': 'karnataka'}}

In [86]:
person.items()

dict_items([('name', 'Nidhisha'), ('age', 23), ('address', {'nation': 'India', 'state': 'karnataka'})])

In [88]:
for key,value in person.items():
    if key=="address":
        for nested_key, nested_value in value.items():
            print(nested_key, ':', nested_value)
    else:
        print(key,":",value)

name : Nidhisha
age : 23
nation : India
state : karnataka

In [183]:
val.items()

dict_items([('nation', 'India'), ('state', 'karnataka')])

In [67]:
address = {"state": "Texas", 'city': 'Houston'}

# dictionary to store person details with address as a nested dictionary
person = {'name': 'Jessa', 'company': 'Google', 'address': address}

# Display dictionary
print("person:", person)

# Get nested dictionary key 'city'
print("City:", person['address']['city'])

# Iterating outer dictionary
print("Person details")
for key, value in person.items():
    if key == 'address':
        # Iterating through nested dictionary
        print("Person Address")
        for nested_key, nested_value in value.items():
            print(nested_key, ':', nested_value)
    else:
        print(key, ':', value)

dict_items([('name', 'Jessa'), ('company', 'Google'), ('address', {'state': 'Texas', 'city': 'Houston'})])
person: {'name': 'Jessa', 'company': 'Google', 'address': {'state': 'Texas', 'city': 'Houston'}}
City: Houston
Person details
name : Jessa
company : Google
Person Address
state : Texas
city : Houston

In [97]:
student_details.setdefault("place","dml")
nidhisha={"class":"Msc","age":23,"place":"dml"}
madhura={"class":"mcom","age":21,"place":"ujire"}
geetha={"class":"bsc","age":20,"place":"dml"}
student_details={"nidhisha":nidhisha,"madhura":madhura,"geetha":geetha}
student_details

{'nidhisha': {'class': 'Msc', 'age': 23, 'place': 'dml'},
 'madhura': {'class': 'mcom', 'age': 21, 'place': 'ujire'},
 'geetha': {'class': 'bsc', 'age': 20, 'place': 'dml'}}

In [99]:
student_details["geetha"]

{'class': 'bsc', 'age': 20, 'place': 'dml'}

In [104]:
print("student detsils")
print()
for key, val in student_details.items():
    print(key)
    for i,j in val.items():
        print(i,":",j)

student detsils

nidhisha
class : Msc
age : 23
place : dml
madhura
class : mcom
age : 21
place : ujire
geetha
class : bsc
age : 20
place : dml

In [105]:
# sort in dictionary
#sorted() it sort the key value of the dictionary

In [106]:
d1=dict({("b",23),("d",45),("a",12)})
sorted(d1)

['a', 'b', 'd']

In [109]:
print(sorted(d1.values()))

[12, 23, 45]

In [110]:
print(sorted(d1.items()))

[('a', 12), ('b', 23), ('d', 45)]

In [112]:
#print square of the even number in the list and sotre it to dictionary
l1=[1,2,3,4,5,6]
square_even={x:x**2 for x in l1 if x%2==0}
print(square_even)

{2: 4, 4: 16, 6: 36}

In [114]:
name=["nidhi","shraj","geetha"]
age=[23,45,45]
details={key:val for key,val in zip(name,age)}
print(details)

{'nidhi': 23, 'shraj': 45, 'geetha': 45}

In [116]:
#Convert two lists into a dictionary
name=["nidhi","shraj","geetha"]
age=[23,45,45]
details={key:value for key, value in zip(name,age)}
print(details)

{'nidhi': 23, 'shraj': 45, 'geetha': 45}

In [120]:
# other method
name=["nidhi","shraj","geetha"]
age=[23,45,45]
d1=dict(zip(name,age))
print(d1)

{'nidhi': 23, 'shraj': 45, 'geetha': 45}

In [126]:
# Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
#1
dict1.update(dict2)
print(dict1)
#2
d4=dict({**dict1,**dict2})
print(d4)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [131]:
sampleDict = { "class": {"student": {"name": "Mike","marks": {"physics": 70,"history": 80}}}}

#call history value 80
sampleDict["class"]["student"]["marks"]["history"]

80

In [137]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
res = dict.fromkeys(employees, defaults)
print(res)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [61]:
employees = ['Kelly', 'Emma']
dept=["hr","sales"]
defaults = {"dept":dept,"designation": 'Developer', "salary": 8000}

In [66]:
for i in defaults:
    if("dept"==dept):
        dept.update(dept)
res=dict.fromkeys(employees, defaults)
print(res)

{'Kelly': {'dept': ['hr', 'sales'], 'designation': 'Developer', 'salary': 8000}, 'Emma': {'dept': ['hr', 'sales'], 'designation': 'Developer', 'salary': 8000}}

In [82]:
#Create a dictionary by extracting the keys from a given dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
keys=["name","salary"]

In [91]:
d1={}
for i in keys:
    d1.update(dict({i:sample_dict[i]}))
print(d1)

{'name': 'Kelly', 'salary': 8000}

In [88]:
d1={i:sample_dict[i] for i in keys}
print(d1)

{'name': 'Kelly', 'salary': 8000}

In [134]:
#Delete a list of keys from a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

In [135]:
for i in keys:
    sample_dict.pop(i)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [42]:
fav=dict({"food":"burger","snacks":"momos","sub":"stat"})
d1=dict({"roll_no":"214006","class":"msc","dob":"24-08-2000","fav":fav})

In [43]:
d1

{'roll_no': '214006',
 'class': 'msc',
 'dob': '24-08-2000',
 'fav': {'food': 'burger', 'snacks': 'momos', 'sub': 'stat'}}

In [50]:
for key,val in d1.items():
    if(key=="fav"):
        for i,j in val.items():
            print(i,":",j)
    else:
        print(key,":",val)

roll_no : 214006
class : msc
dob : 24-08-2000
food : burger
snacks : momos
sub : stat

In [52]:
l1=["name","class","age"]
l2=["nidhi","th",23]
d4=dict(zip(l1,l2))
d4

{'name': 'nidhi', 'class': 'th', 'age': 23}

In [54]:
l1.sort()
l1

['age', 'class', 'name']

In [57]:
d5=dict([(1,"one"),(2,"two"),(3,"three")])
d5

{1: 'one', 2: 'two', 3: 'three'}

In [63]:
sorted(d5.values())

['one', 'three', 'two']

In [19]:
d1=dict([("name","nidhi"),("class","msc"),("section","a")])
d1

{'name': 'nidhi', 'class': 'msc', 'section': 'a'}

In [21]:
sorted(d1.values())

['a', 'msc', 'nidhi']

In [23]:
l1=["name","class","age"]
l2=["nidhisha","msc","23"]
d1={key:val for key,val in zip(l1,l2)}
d1

{'name': 'nidhisha', 'class': 'msc', 'age': '23'}

In [25]:
l1=[2,4,11,23]
d1={i:i*i for i in l1}
d1

{2: 4, 4: 16, 11: 121, 23: 529}

In [26]:
# convert the list in dict
l1=["name","class"]
l2=["nidhi","msc"]
d1={key:val for key,val in zip(l1,l2)}
d1

{'name': 'nidhi', 'class': 'msc'}

In [28]:
d2=dict(zip(l1,l2))
d2

{'name': 'nidhi', 'class': 'msc'}

In [31]:
l1=["name","class"]
l2=["nidhi","msc"]
d3={}
for i in range(len(l1)):
    d3.update({l1[i]:l2[i]})
d3

{'name': 'nidhi', 'class': 'msc'}

In [40]:
# merging the two dictionaries
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [41]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3=dict1.copy()
dict3.update(dict2)
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [43]:
dict4={**dict1,**dict2}
dict4

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
# merging the dicts

In [27]:
def merge(d1,d2):
    for i in d2.keys():
        d1[i]=d2[i]
    return d1
d1={"x":10,"y":20}
d2={"a":30,"b":40}
merge(d1,d2)

{'x': 10, 'y': 20, 'a': 30, 'b': 40}

In [45]:
sampleDict = {"class": {"student": {"name": "Mike","marks": {"physics": 70,"history": 80}}} }

In [46]:
sampleDict["class"]["student"]["marks"]["history"]

80

In [51]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

res=dict.fromkeys(employees,defaults)
res

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [52]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

In [65]:
dict1={}
for i in keys:
    dict1.update({i:sample_dict[i]})
dict1

{'name': 'Kelly', 'salary': 8000}

In [67]:
# list comprehesion
dict2={i:sample_dict[i] for i in keys}
dict2

{'name': 'Kelly', 'salary': 8000}

In [72]:
# to check the value in the dict
sample_dict = {'a': 100, 'b': 200, 'c': 300}
for i,j in sample_dict.items():
    if(j==200):
        print("200 is present in dict")
    else:
        None

200 is present in dict

In [73]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
for i in sample_dict.values():
    print("200 is present in dict") if (i==200) else None

200 is present in dict

In [76]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print("200 is present in dict")

200 is present in dict

In [85]:
sample_dict=dict({"name":"madhura","age":20,"city":"dml"})
sample_dict.pop("city")

'dml'

In [88]:
sample_dict
sample_dict["location"]="dml"
sample_dict

{'name': 'madhura', 'age': 20, 'location': 'dml'}

In [89]:
sample_dict = {"name": "Kelly","age": 25,"salary": 8000,"city": "New york"}
sample_dict["location"]=sample_dict.pop("city")

In [95]:
# get the minimum value in the given dict
dict1={"maths":95,"Stat":24,"cs":64}
min(dict1.values())

24

In [96]:
sample_dict={"nidhi":{"age":23,"caste":"jain"},
            "niks":{"age":26,"caste":"jain"},
            "veer":{"age":29,"caste":"gowda"}}

In [97]:
sample_dict["veer"]["age"]=26

In [98]:
sample_dict

{'nidhi': {'age': 23, 'caste': 'jain'},
 'niks': {'age': 26, 'caste': 'jain'},
 'veer': {'age': 26, 'caste': 'gowda'}}

In [107]:
# geeksofgeeks
#sort the dict
dict1={"three":3,"two":2,"one":1}

In [101]:
sorted(dict1)

['one', 'three', 'two']

In [138]:
dict1={"name":"nidhi","class":"msc","age":23}
key=list(sorted(dict1.keys()))
dict2={i:dict1[i] for i in key}
dict2

{'age': 23, 'class': 'msc', 'name': 'nidhi'}

In [140]:
dict2={"name":"nidhi","class":"msc","age":23}

In [144]:
key_value={}
key_value[2] = '56'       
key_value[1] = '2'
key_value[4] = '12'
key_value[5] = '24'
key_value[6] = '18'
key_value[3] = '323'
key_value

{2: '56', 1: '2', 4: '12', 5: '24', 6: '18', 3: '323'}

In [145]:
# sort the key
sorted(key_value.keys())

[1, 2, 3, 4, 5, 6]

In [157]:
key_value={}
key_value['ravi'] = '10'       
key_value['rajnish'] = '9'
key_value['sanjeev'] = '15'
key_value['yash'] = '2'
key_value['suraj'] = '32'
key_value
sorted(key_value.values())

['10', '15', '2', '32', '9']

In [5]:
key_value={}
key_value[2] = 56
key_value[1] = 2
key_value[5] = 12
key_value[4] = 24
key_value[6] = 18
key_value[3] = 323

print(key_value)

 # Note that it will sort in lexicographical order
 # For mathematical way, change it to float
print(sorted(key_value.items()))
#print(sorted(key_value.items(), key=lambda kv:(kv[1], kv[0])))

{2: 56, 1: 2, 5: 12, 4: 24, 6: 18, 3: 323}
[(1, 2), (2, 56), (3, 323), (4, 24), (5, 12), (6, 18)]

In [4]:
# sort the based on the key values
import numpy as np
key_value={}
key_value['ravi'] = 10       
key_value['rajnish'] = 9
key_value['sanjeev'] =15
key_value['yash'] = 2
key_value['suraj'] = 32

key=list(key_value.keys())
val=list(key_value.values())
sorted_val=np.argsort(key)
dict1={key[i]:val[i] for i in sorted_val}
dict1

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [1]:
# based on the values sort
import numpy as np
key_value={}
key_value['ravi'] = 10       
key_value['rajnish'] = 9
key_value['sanjeev'] =15
key_value['yash'] = 2
key_value['suraj'] = 32

key=list(key_value.keys())
val=list(key_value.values())

sorted_val=np.argsort(val)
dict2={key[i]:val[i] for i in sorted_val}
dict2

{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

In [1]:
# to know the key is present in the dict
d1={"name":"nidhi","class":"msc"}
if "class" in d1:
    print(d1["class"])
else:
    print("key is not found")

msc

In [24]:
dict1={"a":100,"b":200,"c":120}
len(dict1)

3

In [1]:
d1={"nidhi":1234,"gd":6745645,"frdf":4534}
key=list(d1.keys())
value=list(d1.values())
l2=[]
for i in list(sorted(d1.values())):
    l2.append(value.index(i))
d1={}
for i in l2:
    d1.update({key[i]:value[i]})
d1

{'nidhi': 1234, 'frdf': 4534, 'gd': 6745645}

In [2]:
l1=[1,4,2,3,11,8]
l2=[]             #0,2,3,1,5,4
for i in sorted(l1):
    l2.append(l1.index(i))
l2

[0, 2, 3, 1, 5, 4]

In [4]:
# using thedia' : '0091','Australia' : '0025','Nepal' : '00977'}
print(country_code.get("USA","not found \n"))

print(country_code.get("India","not found"))

not found

0091

In [6]:
# using the try and except block
country_code = {'India' : '0091','Australia' : '0025','Nepal' : '00977'}
try:
    print(country_code["India"])
    print(country_code["japan"])
except:
    print("key is not found")

0091
key is not found

In [9]:
data={("a","b","c"):{"dept":"hr","floor":"a","sal":23400},
     ("d","e","f"):{"dept":"sales","floor":"b","sal":34000}}
data

{('a', 'b', 'c'): {'dept': 'hr', 'floor': 'a', 'sal': 23400},
 ('d', 'e', 'f'): {'dept': 'sales', 'floor': 'b', 'sal': 34000}}

In [10]:
data.keys()

dict_keys([('a', 'b', 'c'), ('d', 'e', 'f')])

In [37]:
# sum of the items in all dict
dict1={"a":100,"b":200,"c":213}
a=0
for i in dict1.values():
    a=a+i
a

513

In [44]:
import numpy as np
dict2={"a":100,"b":200,"c":21}

l1=[i for i in dict2.values()]
np.sum(l1)

321

In [50]:
# without using the method of values
dict2={"a":100,"b":200,"c":21}
s1=0
for i in dict2:
    s1=s1+dict2[i]
s1

321

In [8]:
#lambda function
from functools import reduce
dict1={"a":100,"b":200,"c":120}
sum_dict=reduce(lambda s1,k:s1+dict1[k],dict1,0)
sum_dict

420

In [77]:
multi=[lambda arg=x:arg*10 for x in range(1,5)]
for i in multi:
    print(i())

10
20
30
40

In [11]:
#find the size of the dict
dict1={"a":100,"b":200,"c":120}
len(dict1)

3

{'a': 100, 'b': 200, 'c': 120}

In [82]:
# sort the list of dict
list1 = [{"name": "Nandini", "age": 20},
       {"name": "Manjeet", "age": 20},
       {"name": "Nikhil", "age": 19}]
list1

[{'name': 'Nandini', 'age': 20},
 {'name': 'Manjeet', 'age': 20},
 {'name': 'Nikhil', 'age': 19}]

In [92]:
# sort by age using lambda

In [28]:
a="gs fae gw jtdegaw gvae"
z=a.split(" ")
z[3]="nidghi"
z

['gs', 'fae', 'gw', 'nidghi', 'gvae']

In [35]:
student1={"name":"Nidhisha",
         "assignment":[60,70,58],
         "test":[70,69,70],
         "lab":[59,66,70]}

student2={"name":"geetha",
         "assignment":[40,50,60],
         "test":[80,77,90],
         "lab":[80,99,80]}

def percentage(assignment,test,lab):
    a1=sum(assignment)/3
    a2=sum(test)/3
    a3=sum(lab)/3
    per=(a1*0.1)+(a2*0.7)+(a3*0.2)
    
    if(per>=85):
        print("percentage :",round(per,2),"\nGrade A and passed with distinction")
    elif(per>=60 and per<85):
        print("percentage :",round(per,2),"\nGrade B and passed with first class")
    elif(per>=40 and per <60):
        print("percentage :",round(per,2),"\nGrade C and passed with second class")
    else:
        print("percentage :",round(per,2),"\nGrade D and fail")

name=[student1,student2]

for i in name:
    print(i["name"])
    print("**************************************")
    percentage(i["assignment"],i["test"],i["lab"])  
    print()

Nidhisha
**************************************
percentage : 68.03
Grade B and passed with first class

geetha
**************************************
percentage : 79.9
Grade B and passed with first class

In [37]:
student1={"name":"Nidhisha",
         "assignment":[60,70,58],
         "test":[70,69,70],
         "lab":[59,66,70]}

student2={"name":"geetha",
         "assignment":[40,50,60],
         "test":[80,77,90],
         "lab":[80,99,80]}

def percentage(i):
    a1=sum(i["assignment"])/3
    a2=sum(i["test"])/3
    a3=sum(i["lab"])/3
    per=(a1*0.1)+(a2*0.7)+(a3*0.2)
    
    if(per>=85):
        print("percentage :",round(per,2),"\nGrade A and passed with distinction")
    elif(per>=60 and per<85):
        print("percentage :",round(per,2),"\nGrade B and passed with first class")
    elif(per>=40 and per <60):
        print("percentage :",round(per,2),"\nGrade C and passed with second class")
    else:
        print("percentage :",round(per,2),"\nGrade D and fail")

name=[student1,student2]

for i in name:
    print(i["name"])
    print("**************************************")
    percentage(i)  
    print()

Nidhisha
**************************************
percentage : 68.03
Grade B and passed with first class

geetha
**************************************
percentage : 79.9
Grade B and passed with first class

In [76]:
n=int(input("enter the number of student"))
d1={}
for i in range(0,n):
    name=input("enter the name")
    s=input("enter the score in 3 sub with space")
    score=list(map(float,s.split(" ")))
    d1.update({name:score})
print(d1)
name=input("enter the name")
for key,val in d1.items():
    if(name==key):
        s1=sum(val)/len(val)
print("%.2f"%s1)

enter the number of student2
enter the namenidhi
enter the score in 3 sub with space34 56 78
enter the namevedh
enter the score in 3 sub with space45 67 89
{'nidhi': [34.0, 56.0, 78.0], 'vedh': [45.0, 67.0, 89.0]}
enter the namevedh
67.00

In [38]:
# insert the begining of the order dict
from collections import OrderedDict

In [60]:
# using the orderdict
dict1=OrderedDict([("name","nidhi"),("class","msc")])
dict1.update({"roll_no":2})
dict1.move_to_end("roll_no",last=False)
dict1

OrderedDict([('roll_no', 2), ('name', 'nidhi'), ('class', 'msc')])

In [61]:
#without using the orderedDict
d1=dict([("name","nidhi"),("class","msc")])
d2={"roll_no":2}
d2.update(d1)
d2

{'roll_no': 2, 'name': 'nidhi', 'class': 'msc'}

In [72]:
# find the common element in the three sorted array
def common_in_three(a1,a2,a3):
    a4=[]
    a5=[]
    for i in a1:
        for j in a2:
            if(i==j):
                a4.append(j)
    for k in a4:
        for l in a3:
            if(k==l):
                a5.append(l)
    return a5
a=[10,2,3,4]
b=[4,6,7,10,8]
c=[9,8,7,10,6,5,4]
common_in_three(a,b,c)

[10, 4]

In [74]:
def common_element(a1,a2,a3):
    a4=[]
    for i in a1:
        for j in a2:
            for k in a3:
                if(i==j==k):
                    a4.append(k)
    return a4
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
common_element(ar1,ar2,ar3)

[20, 80]

In [76]:
# In single line
a4=[k for i in ar1 for j in ar2 for k in ar3 if(i==j==k)]
a4

[20, 80]

In [63]:
n = int(input())
arr = map(int, input().split())
l1=sorted(set(list(arr)))[-2]
print(l1)

3
0 10 -10
0

In [48]:
s1={0,10,-10}
s1

{-10, 0, 10}

In [61]:
list(s1)

[0, 10, -10]

In [12]:
import numpy as np
np.add(12,34)

46

In [15]:
a=[34,56,78]
b=[45,12,34]

259

In [41]:
def add(x,y):
    for i in range(0,y):
        if(y!=0):
            x+=1
            y=-1
    return x
add(2,5)

7

In [ ]:
l1=[34,23,12,43]

[12, 23, 34, 43]

34

In [37]:
def Add(x, y):
    while (y != 0):
        carry = x & y
        print(carry)
        x = x ^ y
        #print(x)
        y = carry << 1
    return x
print(Add(27,5))

1
2
4
8
16
0
32

In [111]:
def add(a,b):
    for i in range(0,b):
        if(b!=0):
            a+=1
            b-=1
    return a
add(12,10)

22

In [61]:
# adition of two number
a=10
b=4
l1=[a,b]
sum1=[]
for i in range(a):
    sum1.append(1)
for j in range(b):
    sum1.append(1)
len(sum1)

14

In [66]:
# addition of two number
a=10
b=4
l1=[a,b]
sum1=[]
for i in l1:
    for j in range(i):
        sum1.append(1)
sum1.count(1)

14

In [119]:
def multiply(a,b):
    mul=(pow(a+b,2)-pow(a,2)-pow(b,2))/2
    return mul
multiply(-2,2)

-4.0

In [120]:
def multiply(a,b):
    if(b>0):
        multiply(a+a,b-1)
multiply(12,3)

None
None
None

In [126]:
def multiply(a,b):
    c=0
    d=0
    for i in range(0,b):
        c=a+d
        d=c
        b-=1
    return c
multiply(12,3)

36

In [11]:
def multi(a,b):
    c=0
    multi=0
    for i in range(0,b):
        multi=a+multi
    return multi
multi(12,3)

36

## Tuple

### tuple can be created without using the parathesis using tuple packing

### To create a tuple with a single item, you need to add a comma after the item. Otherwise, Python will not recognize the variable as a tuple, and it will treat it as a string type.

In [3]:
t1=("nidhi",23,"msc")
t1
for i in t1:
    print(i)

nidhi
23
msc

In [40]:
t3=("faf")
print(type(t3))

<class 'str'>

In [41]:
t3=("gggrs",)
print(type(t3))

<class 'tuple'>

In [6]:
t2=tuple((1,2,"dfd"))
t2

(1, 2, 'dfd')

In [8]:
t3=tuple("hello",)
t3

('h', 'e', 'l', 'l', 'o')

In [9]:
l1="gdg"
tuple(l1,)

('g', 'd', 'g')

In [10]:
list(l1,)

['g', 'd', 'g']

In [15]:
t1="fec",1,2

In [16]:
# If one of the items is itself a mutable data type as a list, then we can change its values in the case of a nested tuple.
t1=(1,2,3,[3,4,5])
t1

(1, 2, 3, [3, 4, 5])

In [17]:
t1[3][2]=50

In [18]:
t1

(1, 2, 3, [3, 4, 50])

In [23]:
# if we make any change in tuple2 which is called by tuple1 by converting into list and make changes 
#which does not effectto the tuple1
t1=(0,1,2,3,4,5)
t2=t1

sample_list=list(t2)
sample_list

# change the value
sample_list[6:]=[3,4,5]
sample_list

t2=tuple(sample_list)

In [25]:
print(t2)
print(t1)

(0, 1, 2, 3, 4, 5, 3, 4, 5)
(0, 1, 2, 3, 4, 5)

In [26]:
# can marge the tuple using + operator
t3=t1+t2
t3

(0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 3, 4, 5)

In [27]:
sum(t3)

42

In [29]:
#sum function
t1=(1,2,3,4)
t2=(5,6,7,8)
t3=sum((t1,t2),())
t3

(1, 2, 3, 4, 5, 6, 7, 8)

In [36]:
# chain function
import itertools
t1=(1,2,3,4)
t2=(3,4,5,6,7)
t3=tuple(item for item in itertools.chain(t1,t2))
t3

(1, 2, 3, 4, 3, 4, 5, 6, 7)

In [38]:
t1=((1,2,3),(30,40,50),"python")
for i in t1:
    print(i)
    for j in i:
        print(j)

(1, 2, 3)
1
2
3
(30, 40, 50)
30
40
50
python
p
y
t
h
o
n

In [2]:
#reverse the tuple
t1=(1,2,3,4,5)
t1[::-1]

(5, 4, 3, 2, 1)

In [9]:
t1=(40,30,20,10)
last=t1[0]
for i in range(1,len(t1)):
    print(t1[-i],end=" ")
print(last)

10 20 30 40

In [10]:
#access the value
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

In [11]:
#Unpack the tuple into 4 variables
tuple1 = (10, 20, 30, 40)
a,b,c,d=tuple1
print(a,b,c,d)

10 20 30 40

In [13]:
tuple1 = (10, 20, 30, 40)
for i in tuple1:
    print(i,end=" ")

10 20 30 40

In [14]:
# swap the tuple
t1=(1,2,3)
t2=(4,5,6)
t1,t2=t2,t1

In [15]:
print(t1,"\n",t2)

(4, 5, 6)
 (1, 2, 3)

In [19]:
# copying the value of tuple to new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2=()
tuple2=tuple1[3:5]
tuple2

(44, 55)

In [20]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][:]=[222,333]

In [21]:
tuple1

(11, [222, 333], 44, 55)

In [25]:
# sort the tuple based on second items
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
a=sorted(tuple1,key=lambda x:x[1])
a

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]

In [27]:
# counting the number of occurance of 50
tuple1 = (50, 10, 60, 70, 50)
count=0
for i in tuple1:
    if(i==50):
        count+=1
count

2

In [28]:
# direct method
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

In [37]:
# check the all the value in the tuple is same
tuple1 = (45, 45, 45, 45)

t1=all(i==tuple1[0] for i in tuple1)
t1

True

In [38]:
aTuple = (100,)
print(aTuple * 2)
#We can use * operator to repeat the tuple values n number of times.

(100, 100)

## practice

In [11]:
a=input("enter the number with white space")
l2=[]
l1=list((a.split(" ")))
for i in l1:
    l2.append(int(i))
l2

enter the number with white space34 56

[34, 56]

In [13]:
a=input("enter the number with white space")
l1=list(map(int,a.split(" ")))
print(l1)

enter the number with white space34 56 78
[34, 56, 78]

In [14]:
n = int(input("Enter the size of the list "))
print("\n")
num_list = list(int(num) for num in input("Enter the list items separated by space ").strip().split())[:n]

print("User list: ", num_list)

Enter the size of the list 3


Enter the list items separated by space 45 56 67 78
User list:  [45, 56, 67]

In [17]:
l1=list(int(i) for i in input("enter the number").split(" "))
l1

enter the number23 45

[23, 45]

In [18]:
# pass the name of the family with one string
name=input("enter the family name with space")
l1=list(map(str,name.split(" ")))

enter the family name with spacenidhi niks nichu amma apaji

In [19]:
l1

['nidhi', 'niks', 'nichu', 'amma', 'apaji']

In [28]:
# want to create the sublist inside the list
sub_list=int(input("enter the number of sublist"))
l2=[]
for i in range(0,sub_list):
    l1=[int(j) for j in input().split(" ")]
    l2.append(l1)
print(l2)

enter the number of sublist3
23 45
45 56
67 78
[[23, 45], [45, 56], [67, 78]]

In [2]:
def swap_case(s):
    l1=[]
    for i in s:
        if (i==i.upper()):
            l1.append(i.lower())
        else:
            l1.append(i.upper())
    a="".join(l1)        
    return  a

if __name__ == '__main__':
    s = input()

    result = swap_case(s)
    print(result)

NidHishA
nIDhISHa

# String

#### not add the last of the index value
#### string is immutable 
#### updation or deletion is not can be done in python
#### To ignore the escape sequences in a String, r or R is used, this implies that the string is a raw string and escape sequences inside it are to be ignored.

In [30]:
s1="nidhisha"
len(s1)

8

In [33]:
 for i in s1: print(i,end=" ")

n i d h i s h a

In [35]:
# reversing the string
s1="nidhi"
s1[::-1]

'ihdin'

In [37]:
s1="niks"
"".join(reversed(s1))

'skin'

In [40]:
#using loop
s1="nidhi"
last=s1[0]
for i in range(1,len(s1)):
    print(s1[-i],end="")
print(last,end="")

ihdin

In [31]:
s1="hello im nidhisha"
l1=list(s1)
l1[6]="I"
s1="".join(l1)
s1

'hello Im nidhisha'

In [52]:
#other method
s1="hello im nidhisha"
l1=list(s1)
string2=l1[:6]+["I"]+l1[7:]
"".join(string2)

'hello Im nidhisha'

In [55]:
# delete the string
s1="nidhisha gsrg"
del s1

In [63]:
# want to delete the perticular string
s1="nidhisha grra"
s2=list(s1)
s3=s2[:8]
"".join(s3)

'nidhisha'

In [66]:
"how are you \"nidhi\""

'how are you "nidhi"'

In [69]:
r"hii \234\ \"dvsd\""

'hii \\234\\ \\"dvsd\\"'

In [72]:
# format of the string 
string1="{} {} {}".format("hello","nidhi","how are you")
string1

'hello nidhi how are you'

In [75]:
string2="{2} {0} {1}".format("hi","hello","yeah")
string2

'yeah hi hello'

In [23]:
# calcualte the char without containing the space
s1="nidhisha jain 08"
print(sum(not i.isspace() for i in s1))

14

In [27]:
# map function
s1="nidhisha jain 08"
print(sum(map(len,s1.split())))

14

In [32]:
# using the replace method
s1="nidhisha jain 08"
s2=s1.replace(" ","")
len(s2)

14

In [34]:
# using the for loop
s1="nidhisha jain 08"
count=0
for i in s1:
    if(i!= " "):
        count+=1
print(count)

14

In [36]:
# using the join function
a="nidhisha jain 08"
len("".join(a.split()))

14

In [37]:
# print the even length of the char
a="nidhishajain08"
for i in range(len(a)):
    if(i%2==0):
        print(a[i],end=" ")

n d i h j i 0

In [41]:
# even length of the string
a="nidhisha jain 08 madhu"
l1=a.split()
for i in l1:
    if(len(i)%2==0):
        print(i)

nidhisha
jain
08

In [49]:
# using the lambda function
a="nidhisha jain 08 madhu"
l1=list(filter(lambda x:len(x)%2==0,a.split()))
l1

['nidhisha', 'jain', '08']

In [1]:
#perform uppercase of the later part of the string.
s1="geeksforgeeks"
s1[:len(s1)//2]+s1[len(s1)//2:].upper()

'geeksfORGEEKS'

In [20]:
s1="nidhisha"
for  i in range (len(s1)//2):
    print(s1[i].upper(),end="")
print(s1[len(s1)//2:],end="")

NIDHisha

In [25]:
# using the join function
s1="nidhisha"
hlf=len(s1)//2
"".join([s1[ch].upper() if(hlf<ch) else s1[ch] for ch in range(len(s1))])

'nidhiSHA'

### regular expression
#### re.sub(patterns,replace,string)-what type of parrtern, replacing the value,provinding string
#### r"(?i)-means incase sensitive it takes both upper and lower value
#### (\w+)-takes any character,digit,underscore.

In [3]:
import re
s1="nidhisha"
hlf=len(s1)//2
res = re.sub(r"(?i)(\w+)", lambda m: m.group().upper(), s1[hlf:])
res
s1=s1[:hlf]+res
s1

'nidhISHA'

In [7]:
#capitalize the first and last character of each word in a string
s1="loveyourself"
l1=list(s1)
l1[0]=l1[0].upper()
l1[-1]=l1[-1].upper()
"".join(l1)

'LoveyourselF'

In [19]:
s1="loveyourself"
"".join(map(lambda x:x[:-1]+x[-1].upper(),s1.title().split()))

'LoveyourselF'

In [11]:
#title function
s1="loveyourself".title()
s1

'Loveyourself'

In [33]:
s1="loveyourself"
l1=[]
a=list(s1)
for i in range(len(a)):
    if(i==0 or i==len(s1)-1):
        l1.append(a[i].upper())
    else:
        l1.append(a[i])
"".join(l1)

'LoveyourselF'

In [37]:
s1="loveyourself"
for i in s1.title().split():
    l1="".join(i[:-1]+i[-1].upper())
print(l1)

LoveyourselF

In [54]:
#check if a string has at least one letter and one number
s1="lovey0urself08"
l1=list(s1)
for i in l1:
    if(i in list("1234567890")):
        print(i,end=" ")
    elif(i in list("abcdefghijklmnopqrstuvwxyz")):
        print(True)

True
True
True
True
True
0 True
True
True
True
True
True
0 8

#### isalpha()-his method is used to check if all the characters in the string are alphabetic characters (letters). It returns True if all characters in the string are letters (A-Z or a-z), 
#### isdigit()-This method is used to check if all the characters in the string are digits (0-9). It returns True

In [48]:
s1="lovey0urself08"
l1=list(s1)
l2=[]
for i in l1:
    if(i.isalpha()):
        l2.append(i)
"".join(l2)

'loveyurself'

In [65]:
import re
s1="loveyurself"
res=re.search(r"[a-zA-z]",s1) and re.search(r'[0-9]+', s1)
if res:
    print(True)
else:
    print(False)

False

In [68]:
#s1="lovey0urself08"
res=lambda ch:all(i.isalpha() for i in ch) 

res("lovey0urself08")

False

In [69]:
res=lambda ch:any(i.isalpha() for i in ch) 

res("lovey0urself08")

True

In [87]:
# Accept the Strings Which Contains all Vowels
def all_vowel(s1):
    s1=s1.lower()
    l1=[]
    vowel=set("aeiou")
    for i in s1:
        if i in list("aeiou"):
            l1.append(i)
    l1=set(l1)
    if(len(vowel)==len(l1)):
        print("contain all the vowel")
    else:
        print("not contain all the vowel")
s1=input()
all_vowel(s1)

aeioUy
contain all the vowel

In [88]:
def all_vowel(s1):
    s1=s1.lower()
    vowel=set("aeiou")
    l1={i for i in s1 if(i in list("aeiou"))}
    if(len(vowel)==len(l1)):
        print("contain all the vowel")
    else:
        print("not contain all the vowel")
all_vowel("nidhiAeiou")

contain all the vowel

In [97]:
def all_vowel(s1):
    s1=s1.lower()
    l1=[s1.count("a"),s1.count("e"),s1.count("i"),s1.count("o"),s1.count("u")]
    print(l1)
    if(l1.count(0)>0):
        print("not contain all the vowel")
    else:
        print("contain all the vowel")
all_vowel("nidhiAeiou")

[1, 1, 3, 1, 1]
contain all the vowel

In [98]:
s1="nidhiAeiou"
s1=s1.lower()
l1=[s1.count("a"),s1.count("e"),s1.count("i"),s1.count("o"),s1.count("u")]
print(l1)
l1.count(0)

[1, 1, 3, 1, 1]

0

#### intersection function- set1.intersection(set1,set2.....)
####  it finds the common elements shared by all the sets.

In [114]:
# using the intersection
def all_vowel(s1):
    if(len(set(s1.lower()).intersection("aeiou"))==5):
        print("contains all the vowel")
    else:
        print("not")
s1="esraiU"
all_vowel(s1)

not

In [111]:
s1="esraioU"
b=list("aeiou")
set(s1.lower()).intersection(b)

{'a', 'e', 'i', 'o', 'u'}

#### c=re.complie(partten)
#### re.findall(c,text)-if text satisify the result of c the return true else not

In [118]:
import re
s1="esraioU"
c=re.compile(r"[aeiouAEIOU]")
res=re.findall(c,s1)
print("accepted") if(len(res)>=5) else print("not accepted")

accepted

In [127]:
#using dict
s1="esroU"
l1=[ch for ch in s1.lower() if ch in list("aeiou")]
dic,lst={},[]
dic["a"]=l1.count("a")
dic["e"]=l1.count("e")
dic["i"]=l1.count("i")
dic["o"]=l1.count("o")
dic["u"]=l1.count("u")
for i,j in dic.items():
    if j<=0:
        lst.append(i)
if lst:
    print("all vowels except",",".join(lst))
else:
    print("vowel")

all vowels except a,i

In [134]:
s1="esroU"
s1=s1.lower()
l1=[i for i in s1 if i in list("aeiou")]
a=list("aeiou")
lst=[]
lst=[j for j in a if j not in l1]
if lst:
    print("all vowels except",",".join(lst))
else:
    print("vowel")

all vowels except a,i

In [3]:
def all_vowel(s1):
    vowel=list("aeiou")
    if all( i in s1.lower() for i in vowel):
        return print("accepted")
    return print("not accepted")
s1="esroUia"
all_vowel(s1)

accepted

### difference- set.difference(set1)

In [143]:
# using the difference function
s1="esroUia"
a=set("aeiou")
if len(a.difference(s1.lower()))==0:
    print("accepted")
else:
    print("not accepted")

accepted

In [145]:
s1="esroUia"
a=set("aeiou")
b=a.difference(s1.lower())
if(len(b)==0):
    print("accepted")
else:
    print("not accepted")

accepted

In [152]:
#Count the Number of matching characters in a pair of string
str1 = 'abcdef'
str2 = 'defghia'
count=0
l1=[]
for i in str1:
    if(i in str2):
        count+=1
        l1.append(i)
print(count)
print("matching character",",".join(l1))

4
matching character a,d,e,f

In [156]:
str1 = 'abcdef'
str2 = 'defghia'
str1=str1.lower()
str2=str2.lower()
print("matching charaters:-",set(str1).intersection(set(str2)))

matching charaters:- {'e', 'd', 'a', 'f'}

In [157]:
#count number of vowels using sets in given string
s1="GeeksforGeeks"
s1=s1.lower()
count=0
for i in s1:
    if(i in list("aeiou")):
        count+=1
print(count)

5

In [159]:
s1="GeeksforGeeks"
s1=s1.lower()
sum([s1.count("a"),s1.count("e"),s1.count("i"),s1.count("o"),s1.count("u")])

5

In [161]:
s1="GeeksforGeeks"
s1=s1.lower()
vowel=list("aeiou")
sum(s1.count(ch) for ch in vowel)

5

In [163]:
import re
s1="niDhIshA"
vowel=re.compile(r"(?i)[aeiou]")
res=re.findall(vowel,s1)
len(res)

3

In [166]:
#Remove all duplicates from a given string in Python
s1="geeksforgeeks"
l1=[]
for i in s1:
    if i not in l1:
        l1.append(i)
"".join(l1)

'geksfor'

In [5]:
#Least Frequent Character in String
s1 = "GeeksforGeeks"
l1=[]
for i in s1:
    l1.append(s1.count(i))
print(l1)
s1[l1.index(min(l1))]

[2, 4, 4, 2, 2, 1, 1, 1, 2, 4, 4, 2, 2]

'f'

In [30]:
s1 = "GeeksforGeeks"
s1=s1.lower()
unique=[]
for i in s1:
    if i not in unique:
        unique.append(i)

l1=[]
for j in unique:
    count=0
    for k in s1:
        if(j==k):
            count+=1
    l1.append(count)
print("less frequent value:-",unique[l1.index(min(l1))])

less frequent value:- f

In [37]:
s1 = "GeeksforGeeks"
s1=s1.lower()
d1={}
for i in s1:
    if i in d1:
        d1[i]+=1
    else:
        d1[i]=1
print(d1)
min(d1,key=d1.get)

{'g': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}

'f'

In [51]:
s1 = "GeeksforGeeks"
s1=s1.lower()
d1={}
for i in s1:
    if i in d1:
        d1[i]+=1
    else:
        d1[i]=1
min_value=min(d1.values())
l1=[i for i,j in d1.items() if j==min_value]
print("minimun frequent value:-", ",".join(l1))

minimun frequent value:- f,o,r

In [60]:

def least_count(s1):
    d1={i:s1.count(i) for i in set(s1)}
    min_value=min(d1.values())
    return ",".join([i for i,j in d1.items() if j==min_value])
s1 = "GeeksforGeeks"
least_count(s1)

'o,f,r'

In [82]:
#Odd Frequency Characters
s1="geekforgeeks"
d1={i:s1.count(i) for i in set(s1)}
d2=[]
for i,j in d1.items():
    if(j%2!=0):
        d2.append(i)
print("odd char:-",",".join(d2))

{'k': 2, 'o': 1, 's': 1, 'f': 1, 'r': 1, 'g': 2, 'e': 4}
odd char:- o,s,f,r

In [89]:
def odd_char(s1):
    d1={}
    for i in s1:
        if( i in d1):
            d1[i]+=1
        else:
            d1[i]=1
    l1=[i for i,j in d1.items() if j%2!=0]
    return l1
odd_char("gsrgtjyfgdsaweretrfgds")

['s', 'r', 'j', 'y', 'a', 'w']

In [98]:
from collections import Counter
def odd_char(s1):
    res=[i for i,j in Counter(s1).items() if j & 1]
    return res
odd_char("gsrgtjyfgdsaweretrfgds")

['s', 'r', 'j', 'y', 'a', 'w']

In [68]:
#Specific Characters Frequency in String List
def frequency(l1,sub_string):
    d1={}
    for i in sub_string:
        for j in list("".join(l1)):
            if(i==j):
                d1[i]=l1[0].count(i)
    return d1
frequency(["geeksforgeeks"],['e','g'])

{'e': 4, 'g': 2}

In [64]:
from collections import Counter
def frequency(l1,sub_string):
    d1={key:val for i in sub_string for key,val in dict(Counter("".join(l1))).items() if key==i}
    print(d1)
frequency(["geeksforgeeks"],['e','g'])

{'e': 4, 'g': 2}

In [62]:
l1=["geeksforgeeks"]
l2=list("".join(l1))
print(l2)

['g', 'e', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'e', 'k', 's']

In [59]:
"".join(l2)

'geeksforgeeks'

In [72]:
def frequency(l1,substring):
    d1={}
    l2=list("".join(l1))
    for i in l2:
        if( i in substring):
            d1[i]=l2.count(i)
    return d1
frequency(["geeksforgeeks"],['e','g'])

{'g': 2, 'e': 4}

In [75]:
def frequency(l1,sub_string):
    d1={}
    for i in list("".join(l1)):
        if i in sub_string:
            if i in d1:
                d1[i]+=1
            else:
                d1[i]=1
    return d1
frequency(["geeksforgeeks"],['e','g'])

{'g': 2, 'e': 4}

In [77]:
#Frequency of numbers in String
def no_in_string(l1):
    count=0
    for i in list("".join(l1)):
        if(i in list('0123456789')):
            count=count+1
    return count
no_in_string(["geeks4feeks is No. 1 4 geeks"])

3

In [79]:
def no_in_string(s1):
    a=[i for i in s1 if i in list("0123456789")]
    return len(a)
no_in_string("geeks4feeks is No. 1 4 geeks")

3

In [84]:
import re
s1="geeks4feeks is No. 1 4 geeks"
no=re.findall(r"\d",s1)
len(no)

3

In [86]:
#using id digit method
def no_in_string(s1):
    res=0
    for i in s1:
        if(i.isdigit()):
            res+=1
    return res
no_in_string("geeks4feeks is No. 1 4 geeks")

3

In [90]:
s1="geeks4feeks is No. 1 4 geeks"
a=list(filter(lambda i:i.isdigit(),s1))
print(len(a))

3

In [93]:
#Program to check if a string contains any special character
def string(s1):
    regex=re.compile("[!@#$%^&*()}~`]")
    if(regex.search(s1)==None):
        print("string is accepted")
    else:
        print("string is not accepted")
string("frhdufe")

string is accepted

In [117]:
s1="sfdgh&bcfvxds"
a=list("!@#$%^&*()_:?><")
count=0
for i in s1:
    if i in a:
        count+=1
if(count>0):
    print("String is not aceppted")
else:
    print("string is accepted")

String is not aceppted

In [121]:
# def string(s1):
#     for i in s1:
#         if not (i.isalpha() or i.isdigit() or i==" "):
#             return True
#     return False
# if string("frgvr@gdf"):
#     print("string is accpeted")
# else:
#     print("string is not accepted")

string is accpeted

In [114]:
s1="gsrgdbdr"
def string(s1):
    if(all( i.isalpha() or i.isdigit() or i==" " for i in s1)==True):
        print("string accepted")
    else:
        print("string not accepted")
string("esfdtjgsr$g")

string not accepted

In [127]:
#Find words which are greater than given length k
def len_k(l1,k):
    l2=[]
    for i in l1:
        if(len(i)>k):
            l2.append(i)
    return l2
len_k(["hello","im", "nidhisha"],3)

['hello', 'nidhisha']

In [128]:
def len_k(l1,k):
    l2=[i for i in l1 if len(i)>k]
    return l2
len_k(["hello","im", "nidhisha"],3)

['hello', 'nidhisha']

In [144]:
def len_k(l1,k):
    res=list(filter(lambda x: len(x)>k ,l1.split(" ")))
    return res
len_k("hello im  nidhisha",3)

['hello', 'nidhisha']

In [139]:
def len_k(l1,k):
    d1={}
    for i in l1:
        d1[i]=len(i)
    for key,val in d1.items():
        if(val>k):
            print(key,end=" ")
len_k(["hello","im", "nidhisha"],3)

hello nidhisha

In [149]:
#removing i-th character from a string
def remove(s1,char):
    l1=[]
    for i in range(len(s1)):
        if(i!=char):
            l1.append(s1[i])
    return "".join(l1)
remove("nidhisha",2)

'nihisha'

In [152]:
def remove(s1,char):
    l1=list("".join(s1))
    l1.remove(l1[char])
    return "".join(l1)
remove("nidhisha",2)

'nihisha'

In [157]:
def remove(s1,char):
    l1="".join([s1[i] for i in range(len(s1)) if i!=char])
    return l1
remove("nidhisha",2)

'nihisha'

In [161]:
def remove(s1,char):
    s2=s1[:char]+s1[char+1:]
    return s2
remove("nidhisha",2)

'nihisha'

In [184]:
def remove(s1,char):
    for i in range(len(s1)):
        if(i==char):
            s1=s1.replace(s1[i],"")
    return s1
remove("nidhisha",2)

'nihisha'

In [188]:
def remove(s1,char):
    if char>len(s1):
        return s1
    else:
        l1=list("".join(s1))
        l1.pop(char)
        return "".join(l1)
remove("nidhisha",2)

'nihisha'

In [177]:
a="nidhisha"
a=a+" jain"
b=a

In [178]:
a=a+" s"
a

'nidhisha jain s'

In [179]:
b

'nidhisha jain'

In [1]:
s1="im nidhisha"
l1=s1.split()
l1

['im', 'nidhisha']

In [4]:
s1=" ".join(l1)
s1

'im nidhisha'

In [39]:
#given string is binary string or not
def binary(s1):
    l1=[]
    for i in range(len(s1)):
        if(s1[i]=="0" or s1[i]=="1"):
            l1.append(s1[i])
    if(len(l1)==len(s1)):
        print("binary")
    else:
        print("not binary")

binary("010101w01110")

not binary

In [31]:
def binary(s1):
    a=all(s1[i]=='0' or s1[i]=='1' for i in range(len(s1)))
    if(a==True):
        print("binary")
    else:
        print("not binary")
binary("01010101110")

binary

In [43]:
def binary(s1):
    binary_no=["0","1"]
    count=0
    for i in range(len(s1)):
        if s1[i] in binary_no:
            count+=1
    if(len(s1)==count):
        print("binary")
    else:
        print("not")
binary("01010101110")

11
binary

In [44]:
def binary(s1):
    a=[i for i in range(len(s1)) if(s1[i]=="0" or s1[i]=="1")]
    if(len(s1)==len(a)):
        return "binary"
    else:
        return "not binary"
binary("01010101110")

'binary'

In [49]:
import re
s1="011010101101w"
a=re.compile(r'[0-1]')
if len(re.findall(a,s1))==len(s1):
    print("binary")
else:
    print("not a binary")

not a binary

In [4]:
s1="01010101100"
if(s1.count("0")+s1.count("1")==len(s1)):
    print("binary")
else:
    print("not binary")

binary

In [32]:
# by using replace
s1="1010110110"
binary=["0","1"]
for i in binary:
    s1=s1.replace(i,"")
if(len(s1)==0):
    print("binary")
else:
    print("not binary")

binary

In [35]:
#Python program to find uncommon words from two Strings
def uncommon(s1,s2):
    l3=[]
    l1=s1.split(" ")
    l2=s2.split(" ")
    for i in l1:
        if i not in l2:
            l3.append(i)
    for j in l2:
        if j not in l1:
            l3.append(j)
    return l3
s1='im nidhisha from dml'
s2="im veer from ujire"
uncommon(s1,s2)

['nidhisha', 'dml', 'veer', 'ujire']

In [48]:
def uncommon(s1,s2):
    d1={}
    l1=s1.split()+s2.split()
    for i in l1:
        d1[i]=l1.count(i)
    for key,val in d1.items():
        if(val==1):
            print(key)
s1='im nidhisha from dml'
s2="im veer from ujire"
uncommon(s1,s2)

nidhisha
dml
veer
ujire

In [47]:
s1='im nidhisha from dml'
s2="im veer from ujire"
set(s1.split()+s2.split())

{'dml', 'from', 'im', 'nidhisha', 'ujire', 'veer'}

In [50]:
def uncommon(s1,s2):
    l1=s1.split()+s2.split()
    d1={i:l1.count(i) for i in l1}
    for key,val in d1.items():
        if(val==1):
             print(key)
s1='im nidhisha from dml'
s2="im veer from ujire"
uncommon(s1,s2)

nidhisha
dml
veer
ujire

In [54]:
from collections import Counter
s1='im nidhisha from dml'
s2="im veer from ujire"
l1=list(s1.split()+s2.split())
res=Counter(l1)
for key,val in res.items():
    if(val==1):
         print(key)

nidhisha
dml
veer
ujire

In [59]:
# using set difference
s1='im nidhisha from dml'
s2="im veer from ujire"
s1=set(s1.split())
s2=set(s2.split())
res=s1.difference(s2).union(s2.difference(s1))
print(res)

{'veer', 'ujire', 'nidhisha', 'dml'}

# Set

#### set is unordered collection of data
#### set is immutable
#### set does not allow the duplicates records

In [4]:
set1={1,2,3}
set2=set([14,55,12,2,3])
print(set2)

{2, 3, 12, 14, 55}

In [6]:
set3={1,2,"hello",[3,4,5]}

TypeError: unhashable type: 'list'

In [9]:
s1=("d",[1,2,3])
s1[1][2]=4

In [10]:
s1

('d', [1, 2, 4])

### when we want to create ta set only the one way to create i.e set()

In [12]:
set2={1,4,28,6,4}
set2[3]

TypeError: 'set' object is not subscriptable

In [13]:
set2={1,4,28,6,4}
for i in set2:
    print(i)

1
4
28
6

In [14]:
set1={"nidhi","pathu","sana"}
if"sana" in set1:
    print("present")
else:
    print("not present")

present

In [15]:
#we cant update the set but we can add the set
# if one element can be added using add() method
set1={"nidhi","sana"}
set1.add("pathu")

In [16]:
set1

{'nidhi', 'pathu', 'sana'}

In [21]:
# to update the set can be done using the list method
# to update theset with more than 2  item at time
set1={"nidhi","sana"}
set1.update(["pathu"])
set1

{'nidhi', 'pathu', 'sana'}

In [22]:
set1={"red","yellow","blue","green"}
set1.remove("red")

In [23]:
set1

{'blue', 'green', 'yellow'}

In [25]:
set1.discard("black")
set1

{'blue', 'green', 'yellow'}

In [26]:
set1.pop()

'blue'

In [28]:
set1.clear()
set1

set()

In [29]:
#The remove() method throws a keyerror if the item you want to delete is not present in a set
#The discard() method will not throw any error if the item you want to delete is not present in a set

In [30]:
s1={"red","blue","pink"}
s2={"blue","pink","black"}
s3=s1.intersection(s2)

In [31]:
#intersection set wil be returned in new set. original set will be remained has it is.
s3

{'blue', 'pink'}

In [32]:
# intsertion set will be get with old set only
s1.intersection_update(s2)

In [33]:
s1

{'blue', 'pink'}

In [34]:
#difference set means only the elements present in the set1
#set1.difference(set2)
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.difference(set2)

{1, 2}

In [35]:
set1

{1, 2, 3, 4, 5}

In [36]:
# difference update which will return the difference element to the first set
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.difference_update(set2)

In [37]:
set1

{1, 2}

In [39]:
#symmetric difference means which return unqiue items in the both set
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set3=set1.symmetric_difference(set2)
print(set3)

{1, 2, 6, 7}

In [40]:
#subset- if the set is subset of mentioned another set the it return true
#superset-if the set is super set of mentioned another set then it return true

In [42]:
s1={1,2,3,4,5,6,7,8}
s2={3,4,5,6}
s2.issubset(s1)

True

In [43]:
s1.issuperset(s2)

True

In [44]:
#disjoint set-mutullay exclusive set
s1={1,2,3,4,5,6,7,8}
s2={44,55}
s1.isdisjoint(s2)

True

In [47]:
# if you sort the set then it will return the list
s1={44,23,13,44,28}
l1=sorted(s1)
print(l1)

[13, 23, 28, 44]

In [48]:
# when we have to use the forzenzet
# it is used when we do not want to add or remove the items from set means read olny set.
s1={"nidhi","pathu","sana","anvay"}
s2=frozenset(s1)

In [50]:
s2.add("mallika")

AttributeError: 'frozenset' object has no attribute 'add'

In [51]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)

In [52]:
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

In [55]:
# Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1.intersection(set2)
print(set3)

{40, 50, 30}

In [59]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1.union(set2)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

In [60]:
#Update the first set with items that donâ€™t exist in the second set
set1={10,20,30,40,90}
set2={40,30,20,50,60}
set1.difference_update(set2)

In [61]:
set1

{10, 90}

In [65]:
#Remove items from the set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})

In [66]:
set1

{40, 50}

In [68]:
#Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1.symmetric_difference(set2)
print(set3)

{20, 70, 10, 60}

In [77]:
#Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)

In [78]:
set1

{10, 20, 60, 70}

In [81]:
#Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.difference_update(set1.symmetric_difference(set2))

In [82]:
set1

{30, 40, 50}

In [85]:
#other method
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}

In [91]:
aSet = {1, 'PYnative', ('abc', 'xyz'), True}

In [88]:
aSet

{('abc', 'xyz'), 1, 'PYnative'}

In [99]:
s1={1,2,3,4,5}
s2={2,3,4,5,6}
s3={3,4,5,6,7}
s4=[]
for i in s1:
    if i in s2 and i in s3:
        s4.append(i)
print(s4)

[3, 4, 5]

In [ ]:
M=int(input())
set1=set()
fon=input()
m=input()
l1=n.split()
l2=m.split()
a=input()
b=input()
seta=list(a.split())
setb=list(b.split())
add=0
for i in seta:
    if(i in l1):
        add=add+1
    elif(i in l2):
        add=add+1
    else:
        None
for j in setb:
    if(j in l1):
        add=add-1
    elif(j in l2):
        add=add-1
    else:
        None
print(add)

In [1]:
a=list(map(int,input().split()))

2 3 4 5

In [12]:
n, m = map(int, input().strip().split(' '))
print(n)
print(m)
elements_arr = list(map(int, input().strip().split(' ')))

1 2
1
2
1 2 3 3 4 2

In [13]:
elements_arr

[1, 2, 3, 3, 4, 2]

In [22]:
s1={1,2,3,4,5,6,7,8,9}
s1.pop()
s1

{2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
n = int(input())
s = set(map(int, input().split()))
N = int(input())
for i in range(N):
    cmd = list(map(str, input().split()))
    if cmd[0] == "pop":
        s.pop()
    elif cmd[0] == "remove":
        try:
            s.remove(int(cmd[1]))
        except:
            continue
    elif cmd[0] == "discard":
        try:
            s.discard(int(cmd[1]))
        except:
            continue
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
1
2
3
4
5
6
7
8
9
8
45

In [26]:
n=int(input())
s=set(map(int,input().split(" ")))
N=int(input())
for i in range(N):
    cmd=list(map(str, input().split(" ")))
    if(cmd[0]=="pop"):
        s.pop()
    elif(cmd[0]=="remove"):
        s.remove(int(cmd[1]))
    elif(cmd[0]=="discard"):
        s.discrad(int(cmd[1]))
    else:
        None
print(sum(s))

2
1 2 3 4
2
nidhi 4
['nidhi', '4']
veer 5
['veer', '5']

In [36]:
no_a=set(map(int,input().split()))
n=int(input())
for i in range(0,n):  
    val=list(map(str,input().split()))
    if(val[0]=="intersection_update"):
        b=set(map(int,input().split())) 
        if(len(b)==int(val[1])):
            no_a.intersection_update(b)
    elif(val[0]=="update"):
        b=set(map(int,input().split()))
        if(len(b)==val[1]):
            no_a.update(b)
    elif(val[0]=="symmetric_difference_update"):
        b=set(map(int,input().split()))
        if(len(b)==val[1]):
            no_a.symmetric_difference_update(b)
    else:
        b=set(map(int,input().split()))
        if(len(b)==val[1]):
            no_a.difference_update(b) 
print(sum(no_a))

ValueError: invalid literal for int() with base 10: ''

In [46]:
a=set(map(int, input().split()))
for i in range(int(input())):
    b=set(map(int, input().split()))
    if(a.issuperset(b)!=True or len(a)==len(b)):
        print(False)
        break
else: print(True)

1 2 3 4 5 6 7 8 9
2
1 2 3 4
2 3 11
False

In [ ]:
def count_substring(s1,sub_string):
    a=len(sub_string)
    
s1="abcbcbca"
sub_string="bc"
count_substring(s1,sub_string)

In [59]:
s1="abcbcbca"
list("".join(s1))

['a', 'b', 'c', 'b', 'c', 'b', 'c', 'a']

In [1]:
s = input()
a=[]
for i in range(len(s)):
    for j in range(0,len(s)):
        a.append(s[i:j+1])
a=set(a)
print(any(i.isalnum() for i in a))
print(any(i.isalpha() for i in a))
print(any(i.isdigit() for i in a))
print(any(i.islower() for i in a))
print(any(i.isupper() for i in a))

qA2
True
True
True
True
True

In [3]:
s1="WoW!ItSCoOWoWW"
sub="oW"
count=0
a=len(sub)
for i in range(0,len(s1)):
    if(s1[i:i+a]==sub):
        count=count+1
count

2

In [4]:
input_string = "dgtfhfgjngy"
segments = []
for i in range(0, len(input_string), 3):
    print(i)
    segment = input_string[i:i+3]
    segments.append(segment)
print(segments)

0
3
6
9
['dgt', 'fhf', 'gjn', 'gy']

In [ ]:
def solve(s):
    a=[]
    for i in s.split(' '):
        a.append(i.capitalize())
    return " ".join(a)